<p></p>

<div class="container">
  <form action= "/" method="post">
    <h1>Sumbit new Meetups:</h1>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name= "name" placeholder="Astronut Ball"/>
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="textarea" id="description" name="description" placeholder="Dress up that space suit"/>
    </div>
    <div>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" placeholder= "Nebula 5" />
    </div>

    <input type = "submit"/>
  </form>

  <% @meetups.each do |meetup| %>
    <h3><a href="/meetups/<%=meetup.id%>"><%= meetup.name %></h3>
  <% end %>
</div>
